* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-size: 14px;
}
.header{
    /* display: table-cell; */
    width: 900px;
    height: 50px;
    background-color: bisque;
    margin: 0 auto;
    padding-left: 20px;
}
#menu> li {
    display: inline-table;
    width: 170px;
    line-height: 50px;
    /* margin: 10px; */
    /* border-right:2px solid black     ; */
    /* padding-left: 20px; */
}
#menu>li +li{
    border-left: 2px solid black;
    padding-left:10px;
}
#menu> li > ul {
    display: none;
    background-color: aqua;
    /* margin-top: 5px; */
    padding: 0 0 0 10px;
}
#menu> li:hover >ul{
    display: block;
    color: blue;
}
#menu> li> ul> li>ul{
    display: none;
    background-color: red;
}
#menu> li > ul> li:hover> ul {
    display: block;
}